go 1.24

use (
	./sdk/go
	./sdk/go/gateway
	./sdk/go/gateway/loggingadapter
	./sdk/go/logging
	./sdk/go/mq/kafka
	./sdk/go/objectstorage
	./services/logging
	./services/storage
	./sinks/logging/clickhouse
)

replace (
	github.com/L1ndenbaum/stellarmesh-sdk/sdk/go v0.5.0 => ./sdk/go
	github.com/L1ndenbaum/stellarmesh-sdk/sdk/go/gateway v0.3.0 => ./sdk/go/gateway
	github.com/L1ndenbaum/stellarmesh-sdk/sdk/go/logging v0.1.0 => ./sdk/go/logging
	github.com/L1ndenbaum/stellarmesh-sdk/sdk/go/mq/kafka v0.1.0 => ./sdk/go/mq/kafka
	github.com/L1ndenbaum/stellarmesh-sdk/sdk/go/objectstorage v0.1.0 => ./sdk/go/objectstorage
)
