go 1.24

use (
	./sdk/go
	./sdk/go/gateway
	./sdk/go/logging
	./sdk/go/mq/kafka
	./services/logging
	./services/storage
	./sinks/clickhouse
)

replace (
	github.com/L1ndenbaum/stellarmesh-sdk/sdk/go v0.4.0 => ./sdk/go
	github.com/L1ndenbaum/stellarmesh-sdk/sdk/go/gateway v0.1.0 => ./sdk/go/gateway
	github.com/L1ndenbaum/stellarmesh-sdk/sdk/go/logging v0.1.0 => ./sdk/go/logging
	github.com/L1ndenbaum/stellarmesh-sdk/sdk/go/mq/kafka v0.1.0 => ./sdk/go/mq/kafka
)
